*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url('..//images/images/background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    font-family: "open sans", sans-serif;
    height: 100%;
}
/* MAIN */

.container {
}

.main-content {
    background-color: #fff;
    width: 515px;
    padding: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.div2 {
    margin-right: auto;
}
.main-hading {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: blue;
}

.main-hading::after {
    display: inline-block;
    content: "";
    width: 45px;
    height: 7px;
    background: #c0c0f0;
    margin-bottom: 10px;
    margin-left: 30px;
}

.content-heading {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: blue;
}
.content-text {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #b1b1b9e3;
}
.hero-content {
    display: flex;
    margin-bottom: 30px;
}
.hero-heading {
    margin: 0;
    margin-right: 100px;
    margin-bottom: 5px;
    font-family: "Opan Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #b1b1b9e3;
}
.hero-text {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.hero-content-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div1 {
    margin-bottom: 20px;
}

.div1-text {
    margin: 0;
    margin-bottom: 5px;
    color: #a7a7ac;
}

.div1-heading {
    margin: 0;
    font-family: "Opan Sans", sans-serif;
    font-weight: 600;
}
